files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDljCCAn4CCQDE4rk6IuDBSDANBgkqhkiG9w0BAQUFADCBjDELMAkGA1UEBhMC
      Q0ExEDAOBgNVBAgTB09udGFyaW8xEDAOBgNVBAcTB01hcmtoYW0xFjAUBgNVBAoT
      DURhbmllbCBOZ3V5ZW4xFjAUBgNVBAMTDURhbmllbCBOZ3V5ZW4xKTAnBgkqhkiG
      9w0BCQEWGmRhbmllbC5uZ3V5ZW5odXVAZ21haWwuY29tMB4XDTE3MTEyNDA1NTcy
      NloXDTE4MTEyNDA1NTcyNlowgYwxCzAJBgNVBAYTAkNBMRAwDgYDVQQIEwdPbnRh
      cmlvMRAwDgYDVQQHEwdNYXJraGFtMRYwFAYDVQQKEw1EYW5pZWwgTmd1eWVuMRYw
      FAYDVQQDEw1EYW5pZWwgTmd1eWVuMSkwJwYJKoZIhvcNAQkBFhpkYW5pZWwubmd1
      eWVuaHV1QGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
      AMUCiGp2bBmGtJO/buiLbkvJYE101/hgczmU/XZV9qgVNSQK366JwA/RsnmJ1nAH
      OREbBWAU6YMgiEZX3vG80+9ToG249IGMGTNxN4Q4sGLthq0lUbSD4HAKsLTSAloF
      +m6Yh/l4ZVrgBZbpqcK7b74kUpu00lqVV0U3Oh++KT3NjJYcnYZMCurRxVdWwC2X
      sg6yFPc5s3xwojusp/DOgR1U7SuCN/ajmVB6hk6UVHpARc/zkj9IgwnGbz8BAEh5
      9Jga72LnrcjsX+ClbTN5zr6/yw76hMOuYkKV6f9yGg67icko8KAkOLpmBhQuKKCN
      mURuZvZn0tY5eoxhb8z9lWsCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAPZsIRevO
      GIcq/EEjdOrEnMyRglkwQB4JQkwlmi53gnK/5ExIK6UQOZALHF0pLclbLZvwXUvo
      UKi7RzdbtPaUxJWY+DCzPQTgtr1agzP4FahJslMkswVF/u8RxBRhe4ZXhGUL2gBN
      jBzjxRASOsKot+WILTg8iDeAJky5YIojtBdlRwImD4Syyy0HAIt9fOiU32Efwwvi
      BC2qFFl90i/zKJ5OTYeZGiTyfm9CngZDmGw34vlsiIFLmC1h0Idylpt7c4wExSjv
      G6Q/U8g6e5MnaCliAl2xhyBpChSU9ZihQtqxR/qkCLGb3iWFG2S+20S0LESaKDGv
      ZsXxSSmm3vKWUQ==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAxQKIanZsGYa0k79u6ItuS8lgTXTX+GBzOZT9dlX2qBU1JArf
      ronAD9GyeYnWcAc5ERsFYBTpgyCIRlfe8bzT71Ogbbj0gYwZM3E3hDiwYu2GrSVR
      tIPgcAqwtNICWgX6bpiH+XhlWuAFlumpwrtvviRSm7TSWpVXRTc6H74pPc2Mlhyd
      hkwK6tHFV1bALZeyDrIU9zmzfHCiO6yn8M6BHVTtK4I39qOZUHqGTpRUekBFz/OS
      P0iDCcZvPwEASHn0mBrvYuetyOxf4KVtM3nOvr/LDvqEw65iQpXp/3IaDruJySjw
      oCQ4umYGFC4ooI2ZRG5m9mfS1jl6jGFvzP2VawIDAQABAoIBAHiQq0FUBaW9fUcq
      EUq5AZ/ZtljQl9cF1542osLHqvKEQAg1q1waKvLDZxDgHN5kXTUtryV0xs8bmqpJ
      3kNcRusg534egWvCfC2yLMJ7Gt7/87qEqzLovfJzaF7QYuYK4I7MQ/KVDpoFnQYV
      K3Hj2WeovPFTQKR03nqaaLTCYGTUEkNqWfb1/PmEh/ZSFnubmaC9KBlz6BZNCGPp
      LQbO9N2yAIAnOwD/5Myfn2Qjgu6fu1PO/XAca7z5yGd/YdVvfHTTiHPVI8khBTb+
      7VjkMXR40/Kn2vBV/MSvn3O4D6YQBKWxiikXCqam3kaeG660KruKFxLYohaXRhTA
      jsliXuECgYEA4c92L7i0DNZsv7l4RYcCheUN256i/TSxFBPjMhw+ItC87xDmkEIq
      JmOqMpYLcptz3oqpvs5rW/lJ3GQBbYXzArQS+VMQezLoPSZbJF7/RqlcA5OeDDIt
      KQ19Vnt60xxf0yodyZMHCwCOktMFYzqzFwtvivBv7DuTzap0YZLFUjsCgYEA31lZ
      8j8vP8T+glPE9H1s0XJEjsi0a82PJIzepuijasYOJUtK1V+TZZTZFZWnErYquWV0
      0Dkl8cb2+gIVFOVoY/iFNigpg6W+szLgILvOIGUi3/0+A6UMvaR2eX14oZO7xztC
      EnmcEqUoWQ5PeAZ2MRw8NvEuWPpyOYLPWJN75pECgYEAsKgENwtR2KU7yLZJsGMS
      BzwOHl2590tsqV9xo7dSqRwSYxket4b7wLLB6PdXl16kRFrIt1x3wymArimSsGNV
      nSzRlzpzr15BL+286fRj050VPjsTL0ll6TMDdk/95ADTuri9OwCKRwI1iAoMsfev
      Of0ZU2IMvYxScljC2b7gHhcCgYEAkHfENWxnTJFIqtYyhI6Ij6Wg8Naj1UM+Pr8b
      2cyKv6riRX9BJWlP9xnjnRGS4wiP9CHLAFCm2Y//+tDUABMvhdKfn9s0lyHjixfy
      X1n7R3sDpuywaz0cU6KIu6bMG39qq8EJyNd+e5T21zvpbVKIqtV/oW45s3Yz4j1Z
      jwq+zvECgYEAuirKyp7otU64iQ+ikPuc0dFHg54fXQR19RDD/2LLWwyVgz/8/Qex
      d1vrgnAQaRBeOOYthz/rW0U5bxI0yRFu2eQpFXzlAkJaw82EFmIL1AN7q8sMWr4+
      hHH/1/LhSs5aYQrHZ4JyqPn40jjQbDvImsNRWiUsh0SoqFPAAMcY8FM=
      -----END RSA PRIVATE KEY-----